<div class="col">
  <!-- Header Row -->
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste of Instructors</h1>
    </div>
    <div class="col-md-4 text-end">
       <div class="col-md-12">
    <button type="button" class="btn btn-primary" (click)="goToNewInstructor()">
      +Add Instructor
    </button>
  </div>
    </div>
  </div>

 <!-- Instructor Details List -->
<div class="row m-3">
  <div class="col">
    <app-instructor-details
      *ngFor="let instructor of instructors"
      [instructor]="instructor"
    ></app-instructor-details>
  </div>
</div>


  <!-- Pagination Row -->
  <div class="row mb-4">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>
