.my-container{
  margin-top: 50px;
  max-width: 700px;
}
.button {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between; /* one at start, one at end */
  align-items: center; /* vertically center the images */
}

.row img {
  max-width: 200px;
  height: auto; /* keep image ratio */
}
.row {
  display: flex;
  align-items: center;

}

.emblem {
 padding: auto /* Adjust the margin as you like */
}

/* To avoid extra space on the last image */
.row img:last-child {
  margin-right: 0;
}
