<!-- Header -->
<div class="col-md-12 ms-3 pe-4">
  <div class="col-md-8 mt-3">
    <h2>
      <fa-icon [icon]="faInfo" class="me-2 blue-color">&nbsp;</fa-icon>
      Grade Sheet Information
    </h2>
    <hr />
  </div>

  <div class="mission-container">
    <div class="row mb-3 pe-5">
      <!-- Maneuver Group Dropdown -->

    </div>

    <div class="mission-information">
      <!-- Gray Section -->
      <div class="header-section">
        <table>
          <thead>
            <tr>
              <th
                colspan="7"
                class="text-center"
                style="font-size: 24px; font-weight: bold"
              >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Grade Sheet name"
                  aria-label="Grade Sheet name"
                  [(ngModel)]="formData.name"
                  name="Grade Sheet name"
                />
              </th>
            </tr>
            <tr>
              <th>MIX DUR</th>
              <th>CREW MEMBER</th>
              <th>AIRCRAFT</th>
              <th>DATE</th>
              <th>INSTRUCTOR'S NAME:</th>
              <th>SORTIE TYPE & NBR</th>
              <th>PHASE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-aligne: center">
                <!-- MIX DUR Input -->
                <div class="col-md-10 mx-auto">
                  <input
                    type="time"
                    class="form-control"
                    id="time"
                    name="time"
                  />
                </div>
              </td>
              <td>
                <!-- Container for Inline Layout -->
                <div class="d-flex align-items-center">
                  <!-- Student Dropdown -->
                  <div class="col-md-4 me-2">
                    <select class="form-select" id="student" name="student">
                      <option value="" disabled selected>#####</option>
                      <option
                        *ngFor="let student of students"
                        [value]="student.callSign"
                      >
                        {{ student.callSign }}
                      </option>
                    </select>
                  </div>

                  <!-- Plus Symbol -->
                  <div class="mx-2 d-flex align-items-center">+</div>

                  <!-- Crew Member Dropdown -->
                  <div class="col-md-4 ms-2">
                    <select
                      class="form-select"
                      id="crewMember"
                      name="crewMember"
                    >
                      <option value="" disabled selected>#####</option>
                      <option
                        *ngFor="let instructor of instructors"
                        [value]="instructor.callSign"
                      >
                        {{ instructor.callSign }}
                      </option>
                    </select>
                  </div>
                </div>
              </td>
              <td>
                <!-- Aircraft Dropdown -->
                <div class="col-md-10">
                  <select class="form-select" id="aircraft" name="aircraft">
                    <option value="" disabled selected>Ac</option>
                    <option *ngFor="let ac of aircrafts" [value]="ac.id">
                      {{ ac.registration }}
                    </option>
                  </select>
                </div>
              </td>
              <td>
                <!-- Date Input -->
                <div class="col-md-10">
                  <input
                    type="date"
                    class="form-control"
                    id="date"
                    name="date"
                  />
                </div>
              </td>
              <td>
                <!-- Instructor Name Dropdown -->
                <div class="col-md-8">
                  <input
                    type="text"
                    class="form-control"
                    id="instructorName"
                    placeholder="instructorName"
                    name="instructorName"
                    readonly
                  />
                </div>
              </td>
              <td>
                <!-- Container for Inline Layout -->
                <div class="d-flex align-items-center">
                  <!-- Sortie Type Dropdown -->
                  <div class="col-md-4 me-2">
                    <select
                      class="form-select"
                      id="sortieType"
                      [(ngModel)]="formData.sortieType"
                      name="sortieType"
                    >
                      <option value="" disabled selected>SortieType</option>
                      <option *ngFor="let st of sortieType" [value]="st.sortiesTypeName">
                        {{ st.sortiesTypeName }}
                      </option>
                    </select>
                  </div>

                  <!-- Plus Symbol -->
                  <div class="mx-2 d-flex align-items-center">+</div>

                  <!-- Sortie NBR Input -->
                  <div class="col-md-4 ms-2">
                    <input
                      type="number"
                      class="form-control"
                      id="sortieNbr"
                      [(ngModel)]="formData.sortieNbr"
                      name="sortieNbr"
                      placeholder="Enter Sortie NBR"
                    />
                  </div>
                </div>
              </td>
              <td>
                <div class="col-md-10">
                  <select
                    class="form-select"
                    id="phase"
                    [(ngModel)]="formData.phase"
                    name="phase"
                  >
                    <option value="" disabled selected>Phase</option>
                    <option
                      *ngFor="let phase of phases"
                      [value]="phase.phaseName"
                    >
                      {{ phase.phaseName }}
                    </option>
                  </select>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Blue Section -->
    <div class="mission-rating">
      <div class="container mt-4">
        <table class="table table-bordered text-center align-middle">
          <thead class="table-primary">
            <tr>
              <th colspan="5">RATING</th>
              <th>MIF</th>
              <th colspan="3">MANEUVERS</th>
            </tr>
            <tr>
              <th>E</th>
              <th>G</th>
              <th>F</th>
              <th>U</th>
              <th>NG</th>
              <th>MIF</th>
              <th>ID</th>
              <th colspan="2">Description</th>
            </tr>

            <!-- Dropdown Selector Row -->
            <tr>
              <td colspan="9" class="p-3">
                <label for="maneuverSelect" class="form-label fw-bold me-2"
                  >Select Flight Domain:</label
                >
                <select
                  class="form-select d-inline w-auto"
                  [(ngModel)]="selectedGroupId"
                  (ngModelChange)="onGroupChange($event)"
                >
                  <option value="" disabled selected>
                    Select Flight Domain
                  </option>
                  <option
                    *ngFor="let flightDomain of flightDomains"
                    [value]="flightDomain.id"
                  >
                    {{ flightDomain.name }}
                  </option>
                </select>
              </td>
            </tr>
          </thead>

          <!-- Display Selected Maneuvers Table -->
          <tbody>
            <ng-container
              *ngFor="let group of selectedFlightDomains; let gIndex = index"
            >
              <!-- Group Header -->
              <tr style="background-color: #007bff; color: white">
                <td colspan="9" class="text-left fw-bold">{{ group.name }}</td>
              </tr>

              <!-- Items in the Group -->
              <tr *ngFor="let item of group.maneuverItems; let i = index">
                <td>
                  <input
                    type="radio"
                    [name]="'rating' + group.id + '_' + i"
                    value="E"
                    [(ngModel)]="item.rating"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    [name]="'rating' + group.id + '_' + i"
                    value="G"
                    [(ngModel)]="item.rating"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    [name]="'rating' + group.id + '_' + i"
                    value="F"
                    [(ngModel)]="item.rating"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    [name]="'rating' + group.id + '_' + i"
                    value="U"
                    [(ngModel)]="item.rating"
                  />
                </td>
                <td>
                  <input
                    type="radio"
                    [name]="'rating' + group.id + '_' + i"
                    value="NG"
                    [(ngModel)]="item.rating"
                  />
                </td>

                <td
                  class="d-flex justify-content-center align-items-center"
                  style="height: 100%"
                >
                  <input
                    type="text"
                    class="form-control form-control-sm text-center"
                    style="width: 50px"
                    [(ngModel)]="item.mifRequirement"
                    (ngModelChange)="onMifRequirementChange(gIndex, i, $event)"
                    placeholder="0+"
                    title="Enter MIF requirement (e.g., 2+, 3+, etc.)"
                  />
                </td>

                <td>{{ getGlobalIndex(gIndex, i) }}</td>
                <td colspan="2" class="text-start">
                  <!-- Trigger Modal -->
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    [attr.data-bs-target]="'#modal_' + gIndex + '_' + i"
                    (click)="currentItem = item"
                  >
                    {{ item.name }}
                  </a>

                  <!-- Modal -->
                  <!-- Maneuver CTS Modal -->
                  <div
                    class="modal fade"
                    [id]="'modal_' + gIndex + '_' + i"
                    tabindex="-1"
                    [attr.aria-labelledby]="'modalLabel_' + gIndex + '_' + i"
                    aria-hidden="true"
                  >
                    <div
                      class="modal-dialog modal-dialog-scrollable custom-modal-width"
                    >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5
                            class="modal-title"
                            [id]="'modalLabel_' + gIndex + '_' + i"
                          >
                            {{ item.name }}
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>

                        <div class="modal-body">
                          <!-- Phase Not Selected Message -->
                          <div
                            *ngIf="!formData.phase"
                            class="alert alert-info text-center"
                          >
                            Please select a phase to view CTS criteria.
                          </div>

                          <!-- Criteria Table for Selected Phase -->
                          <div *ngIf="formData.phase">
                            <h5 class="mb-3 text-primary text-uppercase">
                              Showing CTS for : {{ formData.phase }}
                            </h5>

                            <table class="table table-bordered text-center">
                              <thead>
                                <tr>
                                  <th></th>
                                  <th
                                    style="background-color: red; color: white"
                                  >
                                    U<br /><small>(Level 2)</small>
                                  </th>
                                  <th
                                    style="
                                      background-color: orange;
                                      color: black;
                                    "
                                  >
                                    F<br /><small>(Level 3)</small>
                                  </th>
                                  <th
                                    style="
                                      background-color: yellow;
                                      color: black;
                                    "
                                  >
                                    G<br /><small>(Level 4)</small>
                                  </th>
                                  <th
                                    style="
                                      background-color: green;
                                      color: white;
                                    "
                                  >
                                    E<br /><small>(Level 5)</small>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td
                                    style="
                                      background-color: blue;
                                      color: white;
                                      vertical-align: top;
                                    "
                                  >
                                    <strong>{{ item.name }}</strong>
                                  </td>

                                  <!-- Excellent -->
                                  <td>
                                    <ul
                                      *ngIf="item.cts?.excellentCriteria?.[formData.phase]?.length > 0; else noExcellent"
                                    >
                                      <li
                                        *ngFor="
                                          let crit of item.cts
                                            .excellentCriteria[formData.phase]
                                        "
                                      >
                                        {{ crit }}
                                      </li>
                                    </ul>
                                    <ng-template #noExcellent>
                                      <li>-: (No criteria)</li>
                                    </ng-template>
                                  </td>

                                  <!-- Good -->
                                  <td>
                                    <ul
                                      *ngIf="item.cts?.goodCriteria?.[formData.phase]?.length > 0; else noGood"
                                    >
                                      <li
                                        *ngFor="
                                          let crit of item.cts.goodCriteria[
                                            formData.phase
                                          ]
                                        "
                                      >
                                        {{ crit }}
                                      </li>
                                    </ul>
                                    <ng-template #noGood>
                                      <li>-: (No criteria)</li>
                                    </ng-template>
                                  </td>

                                  <!-- Fair -->
                                  <td>
                                    <ul
                                      *ngIf="item.cts?.fairCriteria?.[formData.phase]?.length > 0; else noFair"
                                    >
                                      <li
                                        *ngFor="
                                          let crit of item.cts.fairCriteria[
                                            formData.phase
                                          ]
                                        "
                                      >
                                        {{ crit }}
                                      </li>
                                    </ul>
                                    <ng-template #noFair>
                                      <li>-: (No criteria)</li>
                                    </ng-template>
                                  </td>

                                  <!-- Unsatisfactory -->
                                  <td>
                                    <ul
                                      *ngIf="item.cts?.unsatisfactoryCriteria?.[formData.phase]?.length > 0; else noUnsat"
                                    >
                                      <li
                                        *ngFor="
                                          let crit of item.cts
                                            .unsatisfactoryCriteria[
                                            formData.phase
                                          ]
                                        "
                                      >
                                        {{ crit }}
                                      </li>
                                    </ul>
                                    <ng-template #noUnsat>
                                      <li>-: (No criteria)</li>
                                    </ng-template>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="right-panel">
      <!-- Green Section -->
      <div class="mission-comments h-100">
        <div class="d-flex flex-column h-100">
          <div class="p-2 border border-dark">COMMENTS</div>
          <div class="p-2 border border-dark">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <button class="btn btn-primary">
                <i class="bi bi-calculator me-1"></i> Calculate Overall Grade
              </button>
            </div>
            <div class="d-flex justify-content-center">
              <div
                class="overall-grade border border-dark p-2 rounded bg-white text-center"
                style="width: 100px"
                [ngClass]="{
                'text-success': overallGrade === 'E',
                'text-primary': overallGrade === 'G',
                'text-warning': overallGrade === 'F',
                'text-danger': overallGrade === 'U',
                'text-secondary': overallGrade === 'NG',
              }"
              >
                {{ overallGrade || "--" }}
              </div>
            </div>
          </div>
          <div class="p-2 flex-grow-1 d-flex flex-column border border-dark">
            <h4 style="text-align: left">Maneuver Item Comments:</h4>
            <textarea
              class="form-control flex-grow-1"
              placeholder="Enter comments here..."
            ></textarea>
          </div>
        </div>
      </div>

      <!-- Orange Section -->
      <div class="mission-status">
        <table class="table table-bordered" style="background-color: orange">
          <thead>
            <tr>
              <th>SORTIE STATUS</th>
              <th>SORTIE MARKS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- SORTIE STATUS -->
              <td>
                <div
                  class="form-check d-flex justify-content-between align-items-center mb-2"
                >
                  <label class="form-check-label" for="executed"
                    >EXECUTED</label
                  >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="executed"
                  />
                </div>

                <div
                  class="form-check d-flex justify-content-between align-items-center mb-2"
                >
                  <label class="form-check-label" for="partiallyExecuted"
                    >PARTIALLY EXECUTED</label
                  >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="partiallyExecuted"
                  />
                </div>

                <div
                  class="form-check d-flex justify-content-between align-items-center"
                >
                  <label class="form-check-label" for="nonExecuted"
                    >NON-EXECUTED</label
                  >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="nonExecuted"
                  />
                </div>
              </td>

              <!-- SORTIE MARKS -->
              <td>
                <div
                  class="form-check d-flex justify-content-between align-items-center mb-2"
                >
                  <label class="form-check-label" for="clearedSolo"
                    >CLEARED SOLO</label
                  >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="clearedSolo"

                  />
                </div>

                <div
                  class="form-check d-flex justify-content-between align-items-center mb-2"
                >
                  <label class="form-check-label" for="safetyMark"
                    >SAFETY MARK</label
                  >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="safetyMark"

                  />
                </div>

                <div
                  class="form-check d-flex justify-content-between align-items-center"
                >
                  <label class="form-check-label" for="sicknessMark"
                    >SICKNESS MARK</label
                  >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="sicknessMark"

                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Yellow Section -->
      <div class="mission-activities">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="4">ACTIVITIES</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ILS</td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  placeholder="0"
                  min="0"
                />
              </td>
              <td>O/H PATTERN</td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  placeholder="0"
                  min="0"
                />
              </td>
            </tr>
            <tr>
              <td>VOR</td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  placeholder="0"
                  min="0"
                />
              </td>
              <td>MISSED APPROACH</td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  placeholder="0"
                  min="0"
                />
              </td>
            </tr>
            <tr>
              <td>RNAV</td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  placeholder="0"
                  min="0"
                />
              </td>
              <td>LANDINGS</td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  placeholder="0"
                  min="0"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="fixed-buttons">
    <button
      class="btn action-button print-button"
      (click)="printPage()"
      type="button"
    >
      Print PDF
    </button>

    <button
      class="btn action-button save-button"
      (click)="onSave2()"
      type="button"
    >
      Save Row Gradesheet
    </button>
  </div>
</div>
