/* You can add global styles to this file, and also import other style files */
body {
  background-color: #dde8f3 !important;
}

.background-grey {
  background-color: #dde8f3 !important;
}

.border-none {
  border: none !important;
}

.min-height-100 {
  min-height: 100px;
}

.border-right {
  border-right: 3px solid  #545657 !important;
}

.custom-border{
  border: solid  #9ca1a6;
  border-radius: 5px;
}

.blue-color{
  color:#037bfe;
}
